@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  label {
    @apply block text-sm font-semibold text-gray-800;
  }

  input, select, textarea {
    @apply block w-full px-4 py-2 mt-2 border border-gray-300 rounded-md bg-gray-50 focus:border-blue-500 focus:ring-blue-500 focus:outline-none focus:ring focus:ring-opacity-40;
  }

  button {
    @apply flex items-center justify-center w-full gap-4 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform rounded-md focus:outline-none;
  }
}
